.env
*.pyc
venv
*.ipynb
__pycache__
*.txt
generate_answer_og.py
*.dylib
*.xlsx
*.ipynb
*scripts
test.py
*generated_results/*
*.env
annotated_results/anno1
annotated_results/anno2

clean_characters_data.json
